NODE_ENV=
PORT=
APP_URL=
FRONTEND_URL=
DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_WEB_API_KEY=
ADMIN_EMAIL=
ADMIN_FIREBASE_UID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_ULTIMATE_PRICE_ID=